.page-content {
    
}

.category-card {
    width: 100%;
    background: rgba(255, 114, 99, 0.5);
    padding: 1em 0;
    border-bottom: 1px solid rgba(255, 114, 99, 0.8);
}

.category-card:hover {
    background: rgba(255, 114, 99, 0.6);
    cursor: pointer;
}

.phrase-card {
    background: rgba(255, 114, 99, 0.5);
    padding: 1em 1.5em;
    border-bottom: 1px solid rgba(255, 114, 99, 0.8);
    display: flex;
    align-items: center;
}

.phrase-card__audio {
    width: 1.5em;
    height: 1.5em;
    background-image: url('../images/speaker_icon.svg');
    background-size: contain;
}

.phrase-card__audio--disabled {
    opacity: 0.5;
}

.phrase-card__audio:hover {
    cursor: pointer;
}

.phrase-card__audio--disabled:hover {
    cursor: not-allowed;
}

.phrase-card__info {
    flex-grow: 1;
    text-align: left;
    padding: 0 1em;
}

.phrase-card__meaning {
    display: block;
}

.phrase-card__pronunciation {
    display: block;
    font-size: 0.8em;
    font-weight: 200;
    font-style: italic;
    color: rgba(240, 240, 250, 0.8);
}