.page-content {
}

.category-card {
    width: 100%;
    background: rgba(43, 110, 136, 0.5);
    padding: 1em 0;
    border-bottom: 1px solid rgba(43, 110, 136, 0.5);
}

.category-card:hover, .phrase-card:hover {
    background: rgba(43, 110, 136, 0.6);
    cursor: pointer;
}

.phrase-card {
    background: rgba(43, 110, 136, 0.5);
    padding: 1em 1.5em;
    border-bottom: 1px solid rgba(43, 110, 136, 0.8);
    display: flex;
    align-items: center;
}

.phrase-card__info {
    flex-grow: 1;
    text-align: left;
    padding: 0 1em;
}

.phrase-card__meaning {
    display: block;
}

.phrase-card__pronunciation {
    display: block;
    font-size: 0.8em;
    font-weight: 200;
    font-style: italic;
    color: rgba(240, 240, 250, 0.8);
}

/* ------------ Audio -------------- */

.audio {
    width: 1.5em;
    height: 1.5em;
    background: no-repeat center/contain url('../images/speaker_icon.svg');
    flex-shrink: 0;
}

.audio--disabled {
    opacity: 0.5;
}

.audio:hover {
    cursor: pointer;
}

.audio--disabled:hover {
    cursor: not-allowed;
}

/* ------------ Expanded Views -------------- */

.expanded-view {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 20;
    background-color: rgb(157, 199, 204);
    overflow: hidden;
    opacity: 0;
    visibility: none;
    pointer-events: none;
    transition: width 150ms ease-in-out, height 150ms ease-in-out, top 150ms ease-in-out, left 150ms ease-in-out, 
        opacity 150ms ease-in;
}

.expanded-view--open {
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    pointer-events: all;
    transition: width 150ms ease-in-out, height 150ms ease-in-out, top 150ms ease-in-out, left 150ms ease-in-out, 
        opacity 150ms ease-in;
}

.expanded-view__top-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.expanded-view__close-button {
    margin: 2em 2em 0 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
    right: 0;
    background: url('../images/close_button.svg') no-repeat;
    border: none;
}

/* ------------ Phrase Page -------------- */

.phrase-page {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.phrase-page__main-phrase {
    padding: 10px;
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: 1em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.phrase-page__pronunciation {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
}

.phrase-page__meaning {
    
}

/* ------------ Cat House -------------- */

.peeking-cat {
    width: 100%;
    height: 5em;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    background: no-repeat top / contain url('../images/cat-silhouette.svg');
    tap-highlight-color: rgba(0,0,0,0);
}

.cat-house {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cat-house__cat {
    tap-highlight-color: rgba(0,0,0,0);
    flex-grow: 1;
    background: no-repeat top center/contain url('../images/cat-mouth-closed.svg');
}

.cat-house__cat--speaking-1 {
    background-image:  url('../images/cat-mouth-relaxed.svg');
}

.cat-house__cat--speaking-2 {
    background-image:  url('../images/cat-mouth-half-open.svg');
}

.cat-house__cat--speaking-3 {
    background-image:  url('../images/cat-mouth-open.svg');
}

.cat-house__speech-container {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    align-items: end;
    height: 5em;
    position: relative;
}

.cat-house__speech-bubble {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    visibility: hidden;
    color: #231F20;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.cat-house__speech-bubble--visible {
    visibility: visible;
    animation: bounce 150ms forwards ease-in-out;
}

.cat-house__speech-bubble--left {
    background: no-repeat center/contain url('../images/speech-bubble-left.svg');
    grid-column: 2 / 3;
    bottom: 0px;
}

.cat-house__speech-bubble--left .cat-house__speech-text {
    transform: rotateZ(-20deg);
}

.cat-house__speech-bubble--center {
    background: no-repeat center/contain url('../images/speech-bubble-center.svg');
    grid-column: 3 / 4;
}

.cat-house__speech-bubble--right {
    background: no-repeat center/contain url('../images/speech-bubble-right.svg');
    grid-column: 4 / 5;
}

.cat-house__speech-bubble--right .cat-house__speech-text {
    transform: rotateZ(20deg);
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
