.quiz-page {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.quiz-page__question {
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

.quiz-page__instructions {
	font-size: 16px;
	color: rgb(240, 240, 250);
}

.quiz-page__chances {
	margin-bottom: 1em;
	display: grid;
	grid-template-columns: 1fr repeat(5, 2rem) 1fr;
	grid-column-gap: 8px;
	height: 2rem;
}

.quiz-page__bee {
	background: no-repeat center/contain url('../images/shadow.svg');
	width: 100%;
	height: 100%;
	display: inline-block;
}

.quiz-page__bee:first-child {
	grid-column-start: 2;
}

.quiz-page__bee-image {
	width: 100%;
	height: 100%;
	animation: beeHover 600ms alternate infinite ease-in-out; 
	position: relative;
	transition: bottom 10ms;
}

.quiz-page__bee:nth-child(2n) .quiz-page__bee-image {
	animation-delay: -100ms;
}

.quiz-page__bee:nth-child(3n) .quiz-page__bee-image {
	animation-delay: -200ms;
}

@keyframes beeHover {
	0% {
		bottom: 1em;
	}
	100% {
		bottom: 0.5em;
	}
}

.quiz-page__bee--fallen .quiz-page__bee-image {
	bottom: 1em;
	animation: falling 2s linear forwards;
}

@keyframes falling {
	0% {
		left: 0vw;
		transform: rotate(0deg) translateX(10px) rotate(0deg);
	}
	33% {
		transform: rotate(360deg) translateX(20px) rotate(-360deg);
	}
	66% {
		transform: rotate(720deg) translateX(30px) rotate(-720deg);
	}
	100% {
		transform: rotate(1080deg) translateX(40px) rotate(-1080deg);
		left: 100vw;
	}
}

.quiz-page__single-choice {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	padding: 10px 30px;
	border: 2px dotted rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 8px 0px;
    display: flex;
    position: relative;
}

.quiz-page__single-choice--selected {
	border: 2px solid rgba(255, 255, 255, 1);
}

.quiz-page__single-choice--selected.quiz-page__single-choice--right {
	border-color: rgba(0, 171, 53, 0.7)
}

.quiz-page__single-choice--selected.quiz-page__single-choice--wrong {
	border-color: rgba(200, 50, 50, 0.5);
}

.quiz-page__single-choice--right::after {
	content: '';
	width: 15px;
	height: 15px;
	background: no-repeat center/contain url('../images/checkmark.svg');
	position: absolute;
	right: 10px;
	margin-top: 2px;
}

.quiz-page__single-choice--wrong::after {
	content: '';
	width: 15px;
	height: 15px;
	background: no-repeat center/contain url('../images/x.svg');
	position: absolute;
	right: 10px;
	margin-top: 2px;
}

.quiz-page__single-choice--clickable {
	cursor: pointer;
}

.quiz-page__choice-input {
	display: none;
}

.quiz-page__choice-label {
	width: 100%;
}

.quiz-page__button {
	outline: none;
	font-family: inherit;
	font-size: 18px;
	margin-top: 1em;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgb(160, 215, 210);
	color: #FFFFFF;
	padding: 8px 20px;
	box-shadow:  0 2px 0 2px rgba(100, 170, 180, 0.8);
}

.quiz-page__reaction {
	margin: 10px 0;
	font-size: 1.5em;
}

.quiz-page__progress-indicator {
	margin-top: 2em;
	font-size: 14px;
}
