.page-content {

}

.category-card {
    width: 100%;
    background: rgba(255, 114, 99, 0.5);
    padding: 1em 0;
    border-bottom: 1px solid rgba(255, 114, 99, 0.8);
}

.category-card:hover {
    background: rgba(255, 114, 99, 0.6);
    cursor: pointer;
}

